<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/6167064368.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/createaccount.css">
    <title>createaccount</title>
</head>
<body>
    <header>

    </header>
    <main>
        <div class="contenedor">            
            <p class="consulta">Hi! To proceed you need to login first</p>   
            <div class="divCentrado">
             <a href="/user/register" class="button"> New account / Register</a>
            </div>
            <div class="divCentrado">
              <a href="/user/login" class="button2"> I'm al ready a member / Login</a>
            </div> 
        </div>           

    </main>
    <footer>

    </footer>
</body>
</html>