<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/6167064368.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href = "/css/checkout/experiencePackage.css">
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <main>
       
        <fieldset class=formularioFP>
         <h2>Choose your experience</h2>

    <section>
         <div>
            <label for="scubaDive">
               <p id="importante"> <input type="radio" name="experience" value="scubaDive" id='scubaDive' aria-checked="false"  onclick="changeCheckbox(event)" class="botonRadio">  Scuba Dive:</input></p>
             
            <article><img src="/img/scubaDive.jpg"></article>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae blanditiis autem quaerat voluptas cum.</p>
            </label>
            </div>
        
        <div> 
            <label for="fishing"><p id="importante"><input id="fishing" type="radio" name="experience" value="Fishing" aria-checked="false"  onclick="changeCheckbox(event)" class="botonRadio">  Fishing:</input></p>

            <article><img src="/img/pescando.jpeg"></article>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae blanditiis autem quaerat voluptas cum.</p>
        </label>
        </div>
        <div>
            <label for="Snorkell">
            <p id="importante"><input id="Snorkell" type="radio" name="experience" value="Snorkell" aria-checked="false"  onclick="changeCheckbox(event)" class="botonRadio">  Snorkell</input></p>
            
            <article><img src="/img/snorkell.jpeg"></article>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae blanditiis autem quaerat voluptas cum.</p>
        </label>
        </div>
        <div>
            <label for="Beach">
            <p id="importante"><input id="Beach" type="radio" name="experience" value="beach" aria-checked="false"  onclick="changeCheckbox(event)" class="botonRadio">  Beach</input></p>

            <article><img src="/img/beach.jpeg"></article>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae blanditiis autem quaerat voluptas cum.</p>
         </label>
        </div>
        </section>
        <div id="botones">
           <a href="/checkout/summary"> <button onclick="insertData()"id="insert" checked>Next</button></a>
            </div>
    <div id="back">
        <i class="fas fa-chevron-left"> </i>
    </div>
        
        </fieldset>

    </main>

    <footer>

    </footer>

    <script>
function resetCheckbox(){
    const inputs= document.querySelectorAll(".botonRadio")
    inputs.forEach((input)=>{input.setAttribute ('aria-checked', "false")})
}
     
     function changeCheckbox(event) {   
        resetCheckbox() 

 event.target.setAttribute('aria-checked', "true")   
 
 
 }
//ATENCION, NO CONTEMPLA EL CASO QUE NO SE SELECCIONE NINGUNA, O SEA NO LE SALTA ERROR.
function insertData() {

    const input =document.getElementsByName("experience")
    //lo transformo en array
    let arrayInput=Array.from(input)
    //busco el que se haya chequeado
    const map =arrayInput.map(function(element){return element.getAttribute("aria-checked")})
    
    const indexOfSelected= map.indexOf("true")
    const selectedExperience= arrayInput[indexOfSelected].getAttribute("id")
    localStorage.setItem("selectedExperience",selectedExperience)
    console.log(map)
}
    </script>
</body>
</html>