<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel = "stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/6167064368.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/checkout/foodPackage.css">
    <title>Document</title>
</head>
<body>
    <header>

    </header>

    <main>
        <fieldset class=formularioFP>
        
            <h2>Choose a gastronomic proposal</h2>
        
            
            <div>
                <iframe id="menu" src="/img/menu.pdf"></iframe>
            </div>
            
            <div id= select>
               
            <select id="foodPakage" name="food">
                <option value="null">Please selct one</option>
                <option value="Seafood Deluxe">Seafood deluxe</option>
                <option value="Argentinian Parrillada">Clasic Argentinian "parrillada" </option>
                <option value="Pasta">Homemade Pasta Selection</option>
                <option value="Fish">Whatever you fish, we cook.</option>
            
            </select></div>

            <div id="botones">
               <a href="/checkout/experiencePackage"> <button onclick="insertData()">Next</button></a>
                </div>
        <div id="back">
            <i class="fas fa-chevron-left"> </i>
        </div>
        
        </fieldset>

    </main>


    <footer>

    </footer>
    <script>
    const foodPackage = document.getElementById("foodPakage")
    const insert = document.getElementById("insert")
    
    
    
    function insertData() {
        const foodChoice= foodPackage.value
            localStorage.setItem("foodChoice",foodChoice)
            console.log(localStorage)
    }
    </script>

</body>
</html>