<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6167064368.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/checkout/groupSize.css">
    <title>Document</title>
</head>
<body>
   <header>

   </header>
    
<!-- <% %> necesito esta etiqueta para usar javascript -->

   <main>
    <fieldset class=formularioGS>
        
        <h2>Group Size</h2>
<article id= contenedor>
            <label>Adults</label>
    <div>
        <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
  <input type="text" id="amountOfAdults" class="number" name=amountOfAdults />
  <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
</div>
</article>


<article id= contenedor>
    <label>Seniors</label>
<div>
<div class="value-button" id="decrease" onclick="" value="Decrease Value">-</div>
<input type="number"  class="number" id="amountOfSeniors" value="0" />
<div class="value-button" id="increase" onclick="" value="Increase Value">+</div>
</div>
</article>


<article id= contenedor>
    <label>Children</label>
<div>
<div class="value-button" id="decrease" onclick="" value="Decrease Value">-</div>
<input class="number"type="number" id="amountOfChildren" value="0"  />
<div class="value-button" id="increase" onclick="" value="Increase Value">+</div>
</div>
</article>


<article id= contenedor>
    <label>Infants</label>
<div>
<div class="value-button" id="decrease" onclick="" value="Decrease Value">-</div>
<input type="number" class="number" id="amountOfInfants" value="0" />
<div class="value-button" id="increase" onclick="" value="Increase Value">+</div>
</div>
</article>

  <div id="botones">
<a href="/checkout/foodPackage"><button id="insert" onclick="insertData()">Next</button></a>
    </div>
    <div id="back">
       <a href="/checkout/selectDate"><i class="fas fa-chevron-left"> </i></a> 
    </div>
    </fieldset>

   </main>

   <footer>

   </footer>
</body>
<script>


    const amountOfAdults = document.getElementById("amountOfAdults")
    const amountOfChildren = document.getElementById("amountOfChildren")
    const amountOfSeniors = document.getElementById("amountOfSeniors")
    const amountOfInfants = document.getElementById("amountOfInfants")
    const insert = document.getElementById("insert")
    
    
    
    function insertData() {
        const adults= amountOfAdults.value
        const children= amountOfChildren.value
        const seniors= amountOfSeniors.value
        const infants= amountOfInfants.value

            localStorage.setItem("adults",adults)
            localStorage.setItem("children",children)
            localStorage.setItem("seniors",seniors)
            localStorage.setItem("infants",infants)
            console.log(localStorage)
    }
    
           function increaseValue() {
      var value = parseInt(document.getElementById('amountOfAdults').value, 10);
      value = isNaN(value) ? 0 : value;
      value++;
      document.getElementById('amountOfAdults').value = value;
    }
    
    function decreaseValue() {
      var value = parseInt(document.getElementById('amountOfAdults').value, 10);
      value = isNaN(value) ? 0 : value;
      value < 1 ? value = 1 : '';
      value--;
      document.getElementById('amountOfAdults').value = value;
    } 
        </script>
    
</html>