<footer>
	<h4>MORE INFORMATION</h4>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique aliquid
		hic officiis sunt quisquam qui nemo impedit sed dignissimos quam. Aut
		reprehenderit ducimus beatae enim. <br />
		Quidem at earum veritatis vitae optio quos architecto nihil ratione commodi
		dolor, sint eum beatae atque, nulla maiores doloribus incidunt dolorem,
		laborum repellat deserunt exercitationem?
	</p>
	<div class="icons">
		<a href="https://www.facebook.com" target="_blank">
			<i class="fab fa-facebook-f"></i>
		</a>
		<a href="https://www.instagram.com" target="_blank">
			<i class="fab fa-instagram"></i>
		</a>
		<a href="https://www.twitter.com" target="_blank">
			<i class="fab fa-twitter"></i>
		</a>
	</div>
</footer>
