<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Carrito</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "/css/normalize.css">
    <link rel = "stylesheet" href = "/css/styles.css">
    <script src="https://kit.fontawesome.com/8accbfc9de.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="menu">
        <ul>
            <li><a href="#" class="active">Ingresá tus Datos</a></li>
            <li><a href="#">Armá tu programa de diversión</a></li>
        </ul>
    </div>
    <div id="formularios">
    <form action="">
  <!--FORMULARIO-->
  <form class ="form">
    
          <!--IMPUTS-->
        <div class="field-container">
            <!-- Usuario-->
            <i class="far fa-address-card"></i>
            <input class="cajas" type="text" placeholder="Nombre y Apellido" required maxlength="40">
        </div>
        <div class="field-container">
              <!-- email-->
            <i class="far fa-envelope"></i>
            <input class="cajas" type="email" placeholder="Email" required maxlength="40">
        </div>
        <div class="field-container">
            <!-- celular-->
            <i class="fas fa-mobile-alt"></i>
            <input class="cajas" type="Celular" placeholder="Celular" required maxlength="40">
        </div>
        </form>
        
        <!--MAS IMPUTS-->
        <form action="#" id="form-register">
        <div class="columns">
        <div class="field-container">
            <!-- Marca/Modelo-->
            <i class="fas fa-dharmachakra"></i>
            <input class="cajas" type="text" placeholder="Marca/Modelo" required maxlength="40">
        </div>

        <div class="field-container">
            <!-- Tripulación-->
            <i class="fas fa-anchor"></i>
            <input class="cajas" type="Tripulación" placeholder="Tripulación" required maxlength="40">
        </div>
           
        <div class="field-container">
             <!-- Cabina-->
             <i class="fas fa-vector-square"></i>
            <input class="cajas" type="Cabina" placeholder="Cabina" required maxlength="40">
        </div>

        <div class="field-container">
             <!-- Buffet a Bordo-->
             <i class="fas fa-hamburger"></i>
            <input class="cajas" type="Buffet a bordo" placeholder="Buffet a bordo" required maxlength="40">
        </div>

        <div class="field-container">
                <!-- Catering-->
                <i class="fas fa-glass-cheers"></i>
            <input class="cajas" type="Catering" placeholder="Catering" required maxlength="40">
        </div>

        <div class="field-container">
                <!-- Servicio de Buceo-->
                <i class="fas fa-swimmer"></i>
            <input class="cajas" type="Servicio de Buceo" placeholder="Servicio de Buceo" required maxlength="40">
        </div>   
        </div>
        </div>
        <!------TERMINOS-Y-CONDICIONES-------------------------------------------------------------------------------------->
        <p class="terminos1"><input type="checkbox" required>&nbsp; Estoy de acuerdo con <a href="" class="terminos2">Terminos y condiciones</a></p>
        
        <!------SUBMIT------------------------------------->
        <input class="boton1" type="submit" value="REGISTRAR">
        
        <!------YA-TENGO-CUENTA------------------------------------------->
        <p class="cuenta"><a href="" class="cuenta">Ya tengo Cuenta</a></p>
    </form>   
    </form>
</div>
    <!--FIN-DEL-FORMULARIO------------>
    <script src="jquery.js"></script>
    <script>
        $(function(){
            $("#menu li").on("click", function(){
                var i= $(this).index();
                $("#formularios form").hide();
                $("#formularios form").eq(i).show();
                $("#menu li a").removeClass("active");
                $(this).find("a").addClass("active");
            });
        });
    </script>
</body>
</html>