<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel = "stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/foodPackage.css">
    <title>Document</title>
</head>
<body>
    <header>

    </header>

    <main>
        <form action="/" method="get" class=formularioFP>
        
            <h2>Choose a gastronomic proposal</h2>
        
            
            <div>
                <iframe id="menu" src="/img/menu.pdf"></iframe>
            </div>
            
            <div id= select>
               
            <select name="food">
                <option value="seafood">Please selct one</option>
                <option value="seafood">Seafood deluxe</option>
                <option value="parrilla">Clasic Argentinian "parrillada" </option>
                <option value="Pasta">Homemade Pasta Selection</option>
                <option value="fishing">Whatever you fish, we cook.</option>
            
            </select></div>

            <div id="botones">
                <button type="submit">Siguiente</button>
                </div>
        
        
        </form>

    </main>


    <footer>

    </footer>
    
</body>
</html>