<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6167064368.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/groupSize.css">
    <title>Document</title>
</head>
<body>
   <header>

   </header>
    
   <main>
    <form action="/" method="get" class=formularioGS>
        
        <h2>Group Size</h2>
<article id= contenedor>
            <label>Adults</label>
    <div>
        <div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
  <input type="number" id="number" value="0" />
  <div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
</div>
</article>


<article id= contenedor>
    <label>Seniors</label>
<div>
<div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
<input type="number" id="number" value="0" />
<div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
</div>
</article>


<article id= contenedor>
    <label>Children</label>
<div>
<div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
<input type="number" id="number" value="0" />
<div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
</div>
</article>


<article id= contenedor>
    <label>Infants</label>
<div>
<div class="value-button" id="decrease" onclick="decreaseValue()" value="Decrease Value">-</div>
<input type="number" id="number" value="0" />
<div class="value-button" id="increase" onclick="increaseValue()" value="Increase Value">+</div>
</div>
</article>
  <!-- PARA QUE EL BOTON TENGA FUNCIONALIDAD TENGO QUE DARLE VALLR A LAS FUNCIONES DECREASEVALUE E INCREASEVALUE EN JAVASCRIPT -->
  <div id="botones">
    <button type="submit">Siguiente</button>
    </div>
    <div id="back">
        <i class="fas fa-chevron-left"> </i>
    </div>
</form>

    
    


      


   </main>

   <footer>

   </footer>





</body>
</html>