<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Girassol&family=Itim&family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    <title>productDetail</title>
</head>
<body>
    <header>
    <!-- barra en comun -->
    </header>

    <main>
        
            <div class= imagenPrincipal>
                <img src ="/img/catamaranFrente-horizontal.jpeg" class = imagen>
            </div>                   
                <section class= mainsection>
                    <i class="fas fa-anchor"></i>
                        <p> Charter this Fountain Pajot 40ft Cruising Catamaran rental in Cancún.</p>
                        <p>From USD $1000 /hour</p>
               
                        <p>Enjoy Cancún, Mexico by boat. Rent a 40' Cruising Catamaran for up to 30 people. 
                              Sailing and Enjoying</p>
                        <p><a href="#">read more</a></p>
                       
                    </section>
                    <section class= secondarysection>
                    <article>
                        <p> This boat includes the following amenities:
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                            Quo fugiat excepturi, impedit aspernatur quae provident dicta asperiores unde perferendis quisquam rem in
                             porro et iure aut reiciendis molestiae veniam amet. </p>
                        <p> You may also add the following!
                            <p>Paquetes</p>
                            <ul>
                                <li>Paquete 1</li>
                                <li>Paquete 2</li>
                                <li>Paquete 3</li>
                                <li>Paquete 4</li>
                            </ul>
                        </p>
                        </article>


                    <article>
                        <p>
                            Learn a bit more about your boat:
                            aca van las caracteristicas del barco, no las amenities
                        </p>
                <section>


                    <section class = >
                        <p>Check availability</p>
                        <div>
                        <input type="date" /> </div>

                    </section>
                    
                    
                </div>
            </div>
            
    </main>

    <footer>
        <!-- reviews y abt us -->

        <article>
            <h3>Reviews</h3>
        </article>
        <article>
            <h3>About us</h3>
        </article>

    </footer>
    
</body>
</html>