<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productDetail.css">
    <title>productDetail</title>
</head>
<body>
    <header>
        <--! aca tiene que ir la barra superior en comun -->
    </header>

    <main>
            <div class= imagenPrincipal>


            </div>
            <div class = container>
                    
                <div class = info>
                    <section class = descripcion>
                        <p>Fountain Pajot 40ft Cruising Catamaran rental in Cancún.</p>
                        <p>Enjoy Cancún, Mexico by boat. Rent a 40' Cruising Catamaran for up to 30 people. 
                              Sailing and Enjoying</p>
                        <p><a href "">read more</a></p>
                    </section>

                    <section class = caracteristicas>
                        <p> General characteristics include:
                             Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, omnis. </p>
                    </section>

                    <section class =>

                    </section>
    
                    </div>


                    <div class = paquete>
                        
                    </div>
                    
                    
                </div>
            </div>
            




    </main>

    <footer>
        <--! aca tiene que ir reviews y about us -->

    </footer>
    
</body>
</html>