.divCentrado {
  padding-top: 2%;
  display: flex;
  justify-content: center;
  padding-block-end: 2%;
}

.consulta{
  font-weight: bold;
  font-size: 25px;
}


.button {
  background-color: rgb(31, 139, 158);
  height: 40px;
  width: 60%;
  border: 0px;
  border-radius: 10px;
  color: wheat;
  font-weight: bold;
  transition-property: all;
  transition-duration: 500ms;
}

.button2 {
  background-color: rgb(255, 255, 255);
  height: 40px;
  width: 60%;
  border: 0px;
  border-radius: 10px;
  color: rgb(31, 139, 158);
  font-weight: bold;
  padding: 2px;
  transition-property: all;
  transition-duration: 500ms;
}

.button:hover {
  background-color: rgb(66, 179, 199);
  cursor: pointer;
}

.button2:hover {
  background-color: #54e5ff ;
  cursor: pointer;
}

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
  background: linear-gradient( #54e5ff, #1fa7bf);
  }

header{
    height: 10vh;
}

p{
  font-weight: bold;
}

footer{
  height:60vh;
}


.contenedor {
  display: flex;
  width: 300px;
  height:700px;
  margin: auto;
  text-align: center;
  padding: 50px;
  box-shadow: 5px 5px 7px #17b2eb;
  flex-direction: column;
  background-color: white;
  border-radius: 50px;
  position:relative;
}

@media (min-width: 768px){
  .contenedor {
   width: 500px;
  height:350px;
  }
}