*{
    font-family: 'Poppins', sans-serif;

}
* {
    box-sizing: border-box;
}



main{
    display: flex;
    margin: auto;
    justify-content: center;

}
.formularioGS {
    display: flex;
    width: 100vw;
    height:700px;
    margin: auto;
    text-align: center;
    padding: 50px;
    
    flex-direction: column;
    background-color: white;
    
    position:relative;
  }

.formularioGS h2{
    font-size: 25px;
       

}
.formularioGS article{
  padding:20px;
  margin-top:10px;
}


#contenedor{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height:40px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
  
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
  form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }
  
  form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }
  
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }




#botones{
 width: 100%;

 margin-top: 45px
 
}
#botones button{
    background-color: rgb(31, 139, 158);
    height: 40px;
    width:100%;
    border:0px;
    border-radius:10px;
    transition-property: all;
    transition-duration: 500ms;
    color:white;

}

#botones button:hover{
 background-color: rgb(66, 179, 199);
 cursor: pointer;
}
#back{
  font-size:20px;
  position:absolute;
  top: 30px;
  left:30px;
  color: #a9d5eb;
}




footer{
    height:20vh;

}


div.cajaprincipal{
  text-align: center;
}

@media (min-width: 768px) {

  header{
    height: 10vh;
    
}

  .formularioGS {
    width: 500px;
    height:700px;
    box-shadow: 5px 5px 7px #1fa7bf;
    border-radius: 50px;
  
  }

body{
  background: linear-gradient( #54e5ff, #1fa7bf);
}

}

