*{
    font-family: 'Poppins', sans-serif;

}
* {
    box-sizing: border-box;
}

body{
  background-color: #54e5ff ;
}

header{
    height: 10vh;
    
}

main{
    display: flex;
    margin: auto;
    justify-content: center;

}
.formularioGS {
    display: flex;
    width: 300px;
    height:700px;
    margin: auto;
    text-align: center;
    padding: 50px;
    box-shadow: 5px 5px 7px #17b2eb;
    flex-direction: column;
    background-color: white;
    border-radius: 50px;
  }

.formularioGS h2{
    font-size: 25px;
       

}
.formularioGS article{
  padding:20px;
  margin-top:10px;
}


#contenedor{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height:40px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
  form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }
  
  form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }
  
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }




#botones{
 width: 100%;

 margin-top: 45px
 
}
#botones button{
    background-color: rgb(31, 139, 158);
    height: 40px;
    width:100%;
    border:0px;
    border-radius:10px;
    color:white

}



footer{
    height:20vh;

}


@media (min-width: 768px) {

  .formularioGS {
    width: 500px;
    height:700px;
  
  }
      
     
  
  
}