* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
}
/* Todo esto de aca abajo es para el header suelto */
header {
	min-height: 100px;
	max-height: 150px;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
		url(/img/home-main-picture.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	border-bottom: #ebebeb 2px solid;
	overflow: hidden;
}

nav {
	display: flex;
	padding: 15px 35px;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	flex-flow: row wrap;
}

nav img {
	width: 100px;
	margin-right: 10px;
}

nav .logo-name {
	display: flex;
	text-decoration: none;
	color: #fff;
	flex-flow: row wrap;
	justify-content: start;
	align-items: center;
}

.nav-links {
	flex: 1;
	text-align: right;
	overflow-x: hidden;
}

.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-links ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	font-weight: bold;
}

.nav-links ul li::after {
	content: "";
	width: 0%;
	height: 3px;
	background: rgb(9, 117, 136);
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav-links ul li:hover::after {
	width: 80%;
}

nav .fas {
	display: none;
}

@media (max-width: 980px) {
	nav {
		flex-flow: row wrap;
	}
	.text-box h1 {
		font-size: 20px;
	}
	.nav-links ul li {
		display: block;
	}
	.nav-links ul {
		position: fixed;
		background: rgb(9, 117, 136);
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}
	nav .fas {
		display: block;
		color: #fff;
		margin: 12px;
		font-size: 18px;
		cursor: pointer;
	}
	.nav-links ul {
		padding: 30px;
	}
}

@media (max-width: 420px) {
	nav a h2 {
		display: none;
	}
}
