* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  background-color: #666;
}

.icon {
  width: 40px;
}

.main-header {
  background-color: #333333;
  padding: 5px 15px;
  border-bottom: solid 3px rgb(0, 0, 0);
}

.main-header-bar1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #ebebeb;
}

.main-header-bar2 {
  display: none;
}

.main-header-bar2 ul {
  list-style: none;
}

.main-header-bar2 a {
  text-decoration: none;
  color: #ebebeb;
  display: inline-block;
  padding: 5px;
  font-size: 22px;
}

.burger-menu {
  color: #ebebeb;
  display: block;
  margin-right: 5px;
  font-size: 20px;
  text-align: right;
}

.main-img img {
  display: block;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin: auto;
  width: 100vw;
  max-width: 1920px;
}

.catalogue-link {
  background-color: rgba(48, 209, 238, 0.349);
  border: 1px solid black;
  text-align: center;
  padding: 20px;
}

.catalogue-link a {
  text-decoration: none;
  color: #ebebeb;
  font-weight: 300;
}

.showcase {
  display: flex;
  flex-flow: column wrap;
}

.showcase-title {
  text-align: center;
  width: 100vw;
  margin-top: 15px;
}

.showcase h4 {
  padding: 10px;
  font-weight: 300;
  border-bottom: 1px solid black;
}

.showcase1 {
  text-align: center;
  background-color: rgba(48, 209, 238, 0.349);
  max-width: 750px;
  border: 1px solid black;
}

.showcase1 img {
  width: 100%;
  margin: 0px;
}

.showcase1 a {
  text-decoration: none;
  color: #ebebeb;
  font-weight: 300;
}

.showcase2 {
  text-align: center;
  background-color: rgba(48, 209, 238, 0.349);
  max-width: 750px;
  border: black solid 1px;
}

.showcase2 img {
  width: 100%;
}

.showcase2 a {
  text-decoration: none;
  color: #ebebeb;
  font-weight: 300;
}

@media (min-width: 980px) {
  .main-header-bar2 {
    border: solid 2px red;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-header-bar2 ul {
    display: flex;
  }
  .burger-menu {
    display: none;
  }
  .icon {
    width: 50px;
  }
  .showcase {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .showcase1,
  .showcase2 {
    flex: 50%;
  }
}

@media (min-width: 1200px) {
  .main-header-bar1 {
    max-width: 1600px;
    margin: auto;
    border: solid 1px blue;
  }
  .main-header-bar2 a {
    font-size: 25px;
  }
  .showcase {
    max-width: 1920px;
    justify-content: space-evenly;
    margin: auto;
  }
  .catalogue-link {
    max-width: 1920px;
    margin: auto;
  }
}
