*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header {
	min-height: 20vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
		url(/img/home-main-picture.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	border-bottom: #ebebeb 2px solid;
	overflow: hidden;
}

nav {
	display: flex;
	padding: 15px 35px;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	flex-flow: row wrap;
}

nav img {
	width: 100px;
	margin-right: 10px;
}

nav .logo-name {
	display: flex;
	text-decoration: none;
	color: #fff;
	flex-flow: row wrap;
	justify-content: start;
	align-items: center;
}

.nav-links {
	flex: 1;
	text-align: right;
	overflow-x: hidden;
}

.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-links ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	font-weight: 500;
}

.nav-links ul li::after {
	content: '';
	width: 0%;
	height: 3px;
	background: rgb(9, 117, 136);
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav-links ul li:hover::after {
	width: 80%;
}

nav .fas {
	display: none;
}










/* Footer */

footer {
	border-top: 1px #ebebeb solid;
	width: 100%;
	text-align: center;
	padding: 30px 0px;
	margin-top: 50px;
}

footer h4 {
	margin-top: 20px;
	margin-bottom: 25px;
	font-size: 20px;
	font-weight: 300;
}

footer p {
	color: #777;
}

.icons a {
	text-decoration: none;
	color: rgb(9, 117, 136);
}

.icons {
	color: rgb(9, 117, 136);
	font-size: 20px;
	margin: 20px auto;
}
.fab {
	margin-left: 7px;
}


main{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

.boatContainer{
    
    width: 90vw;
    background-color:#00647d;
    border-radius: 30px;
	transition: all;
	transition-duration: 100ms;
	min-height: 350px;

}
.boatContainer:hover{
	box-shadow: 0 0 25px 0px rgb(0 0 0 / 50%);
	
}



article h2{
    text-align: center;
    color: black;
    font-weight: 400;
   padding-top: 10px;
}

article p {
    color: white;
    padding: 10px;
    text-align: center;

}

a{
    text-decoration: none;
}

.imgcontainer{
    height:65%;
}

.imgcontainer img{
    height: 100%;
    width: 100%;
}

/* MEDIA QUERIEES */



@media (max-width: 980px) {
	nav {
		flex-flow: row wrap;
	}
	.text-box h1 {
		font-size: 20px;
	}
	.nav-links ul li {
		display: block;
	}
	.nav-links ul {
		position: fixed;
		background: linear-gradient(#09779c, #097588);
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}
	nav .fas {
		display: block;
		color: #fff;
		margin: 12px;
		font-size: 18px;
		cursor: pointer;
	}
	.nav-links ul {
		padding: 30px;
	}
   
}


@media (min-width: 760px){
main{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.boatContainer{
    height:50vh;
    width: 40vw;


    
}

.boatContainer:hover{
	box-shadow: 0 0 25px 0px rgb(0 0 0 / 50%);
	width: 41vw;
	height: 51vh;
}


}

@media (min-width: 980px){
    .boatContainer{
        width: 27vw;
    }
	.boatContainer:hover{
		
		width: 28vw;
		height: 51vh;
	}
	
}



article h2{
    text-align: center;
}