 
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



h1{
    font-size: 32px;
    font-weight: bold;
    color: rgb(9,117,136);
    margin-bottom: 20px;
}

h2{
   
    font-size: 32px;
    font-weight: bold;
    color: rgb(9,117,136);
    text-align: start;
    padding-left: 20px;
    margin-bottom: 5px;
    margin-top: 0px;
}


main{
    display: flex;
    margin: auto;
    justify-content: center;
}

header{
    height: 10vh;
    
}

section{
    width: 100%;
}

p {
    font-size: 16px;
    font-weight: bold;
}

.divCentrado {
    padding-top: 4%;
    display: flex;
    justify-content: center;
    padding-block-end: 2%;
  }
  
.cajaop{
	width: 100%;
}

.tarjetas_contenedoras {
	padding: 0;

}
 
.tarjetas {
	display: inline-block;	
}

.tarjetas img {
	height: auto;
	width: 50px;
	justify-content:flex-start;

}

.contenedor {
    display: flex;
    width: 100vw;
    height:1000px;
    margin: auto;
    text-align: center;
    padding: 50px;
    flex-direction: column;
    background-color: white;
    position:relative;
  }


@media (min-width: 768px){
    .contenedor {
        width: 500px;
        height:850px;
        box-shadow: 5px 5px 7px #17b2eb;
        border-radius: 50px;
      }
      body{
        background: linear-gradient( #54e5ff, #1fa7bf);
      }

    .seccion {

        margin-top: 10px;
        text-align: left;
        margin-left: 10px;
    }
    
    .seccion p {
        margin-left: 16px;
        vertical-align: auto;
        display: inline-block;
        margin-right: -30px;
    }
    
    
    .seccion i {
        margin-left: 80px;
    }
    
}

.button {
    background-color: rgb(31, 139, 158);
    height: 40px;
    width: 40%;
    border: 0px;
    border-radius: 10px;
    color: wheat;
    font-weight: bold;
}

.button:hover {
    background-color: rgb(66, 179, 199);
    cursor: pointer;
}


footer{
    height:20vh;
}


h3 {
	font-size: 20px;
	padding-top: 0px;
}


