

  *{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }
  
  
  body {
    font-family: "Poppins", sans-serif;
  }  

  
  div .profileContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    border-radius:30px;
    border: 1px solid black;
  }

h1 {
    font-weight: bold;
    color: rgb(9,117,136);
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
  }





  main {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(/img/home-main-picture.jpg);
    justify-content: center;
    height: 80vh;
  }

 main div {
      margin-top:100px;
      width: 40vw;
      border: 1px solid;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 200px;
      border-radius: 30px;
      background-color:white;
    
  }

  /* Footer */

footer {
	border-top: 1px #ebebeb solid;
	width: 100%;
	text-align: center;
}


footer h4 {
	margin-top: 20px;
	margin-bottom: 25px;
	font-size: 20px;
	font-weight: 300;
}

footer p {
	color: #777;
	line-height: 2;
	
}

.icons a {
	text-decoration: none;
	color: rgb(9, 117, 136);
}

 .icons {
	color: rgb(9, 117, 136);
	font-size: 20px;
	margin: 20px auto;
}
.fab {
	margin-left: 7px;
}

