*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



main{
    display: flex;
    margin: auto;
    justify-content: center;

}
.formularioFP {
    width: 100vw;
    height:175vh;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-around;
    position:relative; 
  }

  .formularioFP section{
    width: 100%;
    height:83%;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;

  }
  .formularioFP section div{
      width:90%;
      height:25%;
      color: white;
      background-color:rgb(31, 139, 158);
      border-radius: 10px;
      margin-top: 10px;
     transition: all;
     transition-duration: 200ms;
      
  }

  .formularioFP section div:hover{
    box-shadow: 0px 0px 10px rgb(187, 226, 255)
  }


  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 15px;
}

#importante{
    display: block;
    margin-block-start: 5px;
    margin-block-end: 5px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 17px;
}
  .formularioFP section div article{
      width:100%;
      height:40%;
      
      
  }


  .formularioFP section div article img{
      width:100%;
      height:100%;
      object-fit: cover;
     
  }






#botones{
    width: 100%;
    margin-top: 20px;
    
    
   }
   #botones button{
       background-color: rgb(31, 139, 158);
       height: 40px;
       width:80%;
       border:0px;
       border-radius:10px;
       color:white;
   transition-property: all;
   transition-duration: 500ms;

   }

#botones button:hover{
background-color: rgb(66, 179, 199);
cursor: pointer;
}
#back{
    font-size:20px;
    position:absolute;
    top: 30px;
    left:30px;
    color: #a9d5eb;
}



  footer{
    height:20vh;
  }












  @media (min-width: 768px){
    .formularioFP {
        width: 500px;
        height:700px;
        box-shadow: 5px 5px 7px #17b2eb;
        border-radius: 50px;}
    
        body{
          background: linear-gradient( #54e5ff, #1fa7bf);
          height: 100vh;
        }
      
        header{
          height: 10vh;
      }
      
     #botones{

        margin-bottom: 25px
        
       }
      

        .formularioFP section{
          width: 100%;
          height:75%;
          display:flex;
          flex-direction:row;
          flex-wrap: wrap;
          justify-content: space-evenly;
      
        }
        .formularioFP section div{
          width:45%;
          height:45%;
          color: white;
          background-color:rgb(31, 139, 158);
          border-radius: 10px;
          margin-top: 10px;
         transition: all;
         transition-duration: 200ms;
          
      }
  }

