*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



main{
    display: flex;
    margin: auto;
    justify-content: center;

}
.formularioFP {
    width: 100vw;
    height:700px;
    margin: auto;
    text-align: center;
    padding-top: 50px;
   
    display: flex;
    flex-direction: column;
    background-color: white;

    position: relative;
  }


#menu {
    width: 80%;
    height: 60vh ;
    border-radius: 15px;
}

#select select {
   padding:2px;
  
}

#select{
    
   margin-top:20px
}

#boton, #botones{
    width: 100%;
   
    margin-top: 60px;
    margin-bottom: 30px;
   }
   #boton button, #botones button{
       background-color: rgb(31, 139, 158);
       height: 40px;
       width:80%;
       border:0px;
       border-radius:10px;
       color:white;
       transition-property: all;
       transition-duration: 500ms;
   
   }

   #boton button:hover, #botones button:hover{
    background-color: rgb(66, 179, 199);
    cursor: pointer;
}

#back{
    font-size:20px;
    position:absolute;
    top: 30px;
    left:30px;
    color: #a9d5eb;
}





  footer{
    height:20vh;
  }












  @media (min-width: 768px){
    .formularioFP {
        width: 500px;
        height:700px;
        box-shadow: 5px 5px 7px #17b2eb;
        border-radius: 50px;
    }
    #menu{
        width: 400px;
        height: 450px;

    }
    #select{
    
        position: absolute;
        bottom:94px;
        left:52px
     }
    
       body{
        background: linear-gradient( #54e5ff, #1fa7bf);
        height: 100vh;
      }

header{
    height: 10vh;
}


    
  }

