.cajadefecha{
    color: inherit;
}

.h{
    padding-top: 2%;
    font-size: 25px;
    font-weight: bold;
    color: rgb(9,117,136);
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: linear-gradient( #54e5ff, #1fa7bf);
    height: 100vh;
  }

main{
    display: flex;
    margin: auto;
    justify-content: center;
}

header{
    height: 10vh;
    
}
p{
    font-size: 14px;
    color: black;
    font-weight: bold;
}

.divCentrado {
    padding-top: 5%;
    justify-content: center;
    display: flex;
}

.button {
    background-color: rgb(31, 139, 158);
    height: 40px;
    width: 40%;
    border: 0px;
    border-radius: 10px;
    color: wheat;
    font-weight: bold;
}
a {
    width: 100%;
}
.button:hover {
    background-color: rgb(66, 179, 199);
    cursor: pointer;
}


label {
    display: block;
    font: 1rem 'Poppins', sans-serif;
  
}

input,
label {
    margin: .4rem 0;
    font-weight: bold;
}

footer{
    height:30vh;
  }


.contenedor {
    display: flex;
    width: 300px;
    height:700px;
    margin: auto;
    text-align: center;
    padding: 50px;
    box-shadow: 5px 5px 7px #17b2eb;
    flex-direction: column;
    background-color: white;
    border-radius: 50px;
    position:relative;
    border: 0px;
  }

@media (min-width: 768px) {
    .contenedor {
        width: 500px;
        height:500px;
      }
    
}

