* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

/* Barra de navegacion - menu - imagen principal */

header {
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
		url(/img/home-main-picture.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	overflow: hidden;
}

nav {
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	flex-flow: row wrap;
}

nav img {
	width: 100px;
	margin-right: 10px;
}

nav .logo-name {
	display: flex;
	text-decoration: none;
	color: #fff;
	flex-flow: row wrap;
	justify-content: start;
	align-items: center;
	align-content: center;
}





.nav-links {
	flex: 1;
	text-align: right;
}

.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-links ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 15px;
}




.nav-links ul li::after {
	content: '';
	width: 0%;
	height: 3px;
	background: rgb(9, 117, 136);
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav-links ul li:hover::after {
	width: 80%;
}

.text-box {
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.text-box h1 {
	font-size: 60px;
}

.text-box p {
	margin: 10px 0 40px;
	font-size: 15px;
	color: #fff;
}


/* aca esta todo el buscador */
.boats-btn {
	display: flex;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 13px;
	background: #ffffff;
	height: 60px;
	width:550px;
	border-radius: 30px;
}


.boats-btn:hover {
	
	border: 1px solid grey;
	transition: 1s;
} 

.containerResults{
	width: 550px;
	margin-top: 20px;
	background-color:white;
	border-radius:20px;
	padding: 10px;
	display: none;
}
.list {
	color: grey;
	list-style-type: none;
	margin: 5px;
	width:100%;
	text-align:left;
}

.list li:hover{
	cursor:pointer;
	background-color:#b0cdff;
	

}


.inputSearch {
	width: 80%;
	height: 100%;
	background-color: transparent;
	border: none;
	text-align: left;
	margin-left:30px;
	font-size: 20px;
	 line-height: 1.15;
	 outline:none;
	
}
.buttonSubmit{
	border: none;
	width: 20%;

	transition-property: all;
	transition-duration:1s;
}

.buttonSubmit:hover{
	background-color: #c1c4c7
}


/* aca termina el buscador */

.fa-search{
	color: black;
	align-self: center;
}
nav .fas {
	display: none;
}

@media (max-width: 980px) {
	nav {
		flex-flow: row wrap;
	}
	.text-box h1 {
		font-size: 20px;
	}
	.nav-links ul li {
		display: block;
	}
	.nav-links ul {
		position: absolute;
		background: rgb(9, 117, 136);
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}
	nav .fas {
		display: block;
		color: #fff;
		margin: 12px;
		font-size: 18px;
		cursor: pointer;
	}
	.nav-links ul {
		padding: 30px;
	}
}

/* Sector destacados */

.destacados {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}

.destacados h2 {
	font-size: 36px;
	font-weight: 600;
}

.destacados p {
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}
p#description{
	color: #454952
}

.row {
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}

.boat-ex {
	flex-basis: 31%;
	background: rgb(9, 117, 136);
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	transition: 0.5s;
}

.boat-ex h3 {
	text-align: center;
	font-weight: 600;
	margin: 10px 0 20px 0;
}

.boat-ex img {
	width: 90%;
	border-radius: 10px;
}

.boat-ex:hover {
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

@media (max-width: 980px) {
	.row {
		flex-direction: column;
	}
}

/* Informacion sobre nosotros y otras cosas */

.information {
	width: 100%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
}

.information h3 {
	margin: 20px;
	font-size: 32px;
}

.information p {
	margin-bottom: 15px;
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}

.col-cont {
	display: flex;
	flex-flow: column wrap;
	align-content: center;
	align-items: center;
}

.col {
	display: flex;

	align-items: center;
	align-content: center;
	justify-content: space-between;
	width: 80%;
	background: rgb(9, 117, 136);
	text-align: left;
	border-radius: 10px;
	margin-bottom: 20px;
}

.colb {
	display: flex;
	flex-flow: row-reverse nowrap;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	width: 80%;
	background: rgb(9, 117, 136);
	text-align: left;
	border-radius: 10px;
	margin-bottom: 20px;
}

.col img,
.colb img {
	width: 100%;
	border-radius: 10px;
	margin: auto;
}

.imgcont {
	width: 80%;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	flex-basis: 50%;
}

.textcont {
	text-align: center;
	margin-top: 15px;
	flex-basis: 50%;
}

.col:hover,
.colb:hover {
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1000px) {
	.col,
	.colb {
		flex-flow: column wrap;
	}
	.imgcont {
		margin-top: 15px;
	}
}
body{
	background-color: #e2e8f0
}
/* Footer */

footer {
	border-top: 1px #ebebeb solid;
	width: 100%;
	text-align: center;
	padding: 30px 0px;
	margin-top: 50px;
}


footer h4 {
	margin-top: 20px;
	margin-bottom: 25px;
	font-size: 20px;
	font-weight: 300;
}

footer p {
	color: #777;
	line-height: 2;
	
}

.icons a {
	text-decoration: none;
	color: rgb(9, 117, 136);
}

.icons {
	color: rgb(9, 117, 136);
	font-size: 20px;
	margin: 20px auto;
}
.fab {
	margin-left: 7px;
}
