

<footer>
	<h4>MORE INFORMATION</h4>
	<p>
		For more information, do not hesitate on emailing us at: bow&stern@gmail.com
		<br>
		Or call us at: (+54) 11 3174-1077
		<br>
		Thank you for visiting Bow and Stern!
	</p>
	<div class="icons">
		<a href="https://www.facebook.com" target="_blank">
			<i class="fab fa-facebook-f"></i>
		</a>
		<a href="https://www.instagram.com" target="_blank">
			<i class="fab fa-instagram"></i>
		</a>
		<a href="https://www.twitter.com" target="_blank">
			<i class="fab fa-twitter"></i>
		</a>
	</div>
</footer>
