<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/6167064368.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/createaccount.css">
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <main>
        <div class="contenedor"> 
            <div>            
                <img src = "/img/user-registrator2.jpg" alt = "user" width = "150px" height = "150px">
            </div> 
            <a class="singinapp" href="/s/inquiry">Sing app</a>   
            <div><p class="consulta">You dont have any account?</p></div>           
            
            <div id="botones">
                <button type="submit">Register</button>
                </div>
        </div>

    </main>
    <footer>

    </footer>
</body>
</html>