<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/6167064368.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href = "/css/experiencePackage.css">
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <main>
       
        <form action="/" method="get" class=formularioFP>
         <h2>Choose your experience</h2>

    <section>
         <div>
            <label for="scubaDive">
            <p id="importante"> <input type="radio" name="experience" value="scubaDive" id='scubaDive'>  Scuba Dive:</input></p>
             
            <article><img src="/img/scubaDive.jpg"></article>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae blanditiis autem quaerat voluptas cum.</p>
            </label>
            </div>
        
        <div> 
            <label for="fishing"><p id="importante"><input id="fishing" type="radio" name="experience" value="Fishing">  Fishing:</input></p>

            <article><img src="/img/pescando.jpeg"></article>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae blanditiis autem quaerat voluptas cum.</p>
        </label>
        </div>
        <div>
            <p id="importante"><input type="radio" name="experience" value="Snorkell">  Snorkell</input></p>

            <article><img src="/img/snorkell.jpeg"></article>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae blanditiis autem quaerat voluptas cum.</p>
        </div>
        <div>
            <p id="importante"><input type="radio" name="experience" value="beach">  Beach</input></p>

            <article><img src="/img/beach.jpeg"></article>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae blanditiis autem quaerat voluptas cum.</p>
         </div>
        </section>
        <div id="botones">
            <button type="submit">Next</button>
            </div>
    <div id="back">
        <i class="fas fa-chevron-left"> </i>
    </div>
        
        </form>

    </main>

    <footer>

    </footer>
</body>
</html>