<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet"> 
    <script src="https://kit.fontawesome.com/6167064368.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href = "/css/experiencePackage.css">
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <main>
       
        <fieldset class=formularioFP>
         <h2>Choose your experience</h2>

    <section>
         <div>
            <label for="scubaDive">
               <p id="importante"> <input type="radio" name="experience" value="scubaDive" id='scubaDive' aria-checked="false" onclick="changeCheckbox()">  Scuba Dive:</input></p>
             
            <article><img src="/img/scubaDive.jpg"></article>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae blanditiis autem quaerat voluptas cum.</p>
            </label>
            </div>
        
        <div> 
            <label for="fishing"><p id="importante"><input id="fishing" type="radio" name="experience" value="Fishing" aria-checked="false" onclick="changeCheckbox2()">  Fishing:</input></p>

            <article><img src="/img/pescando.jpeg"></article>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae blanditiis autem quaerat voluptas cum.</p>
        </label>
        </div>
        <div>
            <label for="Snorkell">
            <p id="importante"><input id="Snorkell" type="radio" name="experience" value="Snorkell" aria-checked="false" onclick="changeCheckbox3()">  Snorkell</input></p>
            
            <article><img src="/img/snorkell.jpeg"></article>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae blanditiis autem quaerat voluptas cum.</p>
        </label>
        </div>
        <div>
            <label for="Beach">
            <p id="importante"><input id="Beach" type="radio" name="experience" value="beach" aria-checked="false" onclick="changeCheckbox4()">  Beach</input></p>

            <article><img src="/img/beach.jpeg"></article>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae blanditiis autem quaerat voluptas cum.</p>
         </label>
        </div>
        </section>
       <a href="/checkout/summary"> <div id="botones">
            <button onclick="insertData()"id="insert" checked>Next</button></a>
            </div>
    <div id="back">
        <i class="fas fa-chevron-left"> </i>
    </div>
        
        </fieldset>

    </main>

    <footer>

    </footer>

    <script>

     

    function changeCheckbox(event) {   
         let item = document.getElementById("scubaDive");
    switch(item.getAttribute('aria-checked')) {
        case "true":
            item.setAttribute('aria-checked', "false");
            break;
        case "false":
            item.setAttribute('aria-checked', "true");
            break;
    }   
}
function changeCheckbox2(event) {   
         let item = document.getElementById("fishing");
    switch(item.getAttribute('aria-checked')) {
        case "true":
            item.setAttribute('aria-checked', "false");
            break;
        case "false":
            item.setAttribute('aria-checked', "true");
            break;
    }   
}
function changeCheckbox3(event) {   
         let item = document.getElementById("Snorkell");
    switch(item.getAttribute('aria-checked')) {
        case "true":
            item.setAttribute('aria-checked', "false");
            break;
        case "false":
            item.setAttribute('aria-checked', "true");
            break;
    }   
}
function changeCheckbox4(event) {   
         let item = document.getElementById("Beach");
    switch(item.getAttribute('aria-checked')) {
        case "true":
            item.setAttribute('aria-checked', "false");
            break;
        case "false":
            item.setAttribute('aria-checked', "true");
            break;
    }   
}
//ATENCION, NO CONTEMPLA EL CASO QUE NO SE SELECCIONE NINGUNA, O SEA NO LE SALTA ERROR.
function insertData() {

    const input =document.getElementsByName("experience")
    //lo transformo en array
    let arrayInput=Array.from(input)
    //busco el que se haya chequeado
    const map =arrayInput.map(function(element){return element.getAttribute("aria-checked")})    
    const indexOfSelected= map.indexOf("true")
    const selectedExperience= arrayInput[indexOfSelected].getAttribute("id")
    localStorage.setItem("selectedExperience",selectedExperience)
}
    </script>
</body>
</html>