<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/selectdate.css">
    <title>Selectdocument</title>
</head>
<body>
   <header>

   </header>
    
<main>
    <div class="conteinerprincipal"> 
    <div class="cajaprincipal"> 
   
    <form action="/" method="get" class=form1>      
        <h1>Estimated date</h1>
    <p>To next stop you nedd to enter yor estimated date:</p>
    <div class= "cajagendefecha">
        <div class="cajadefecha">
                    <div class="marcfecha">
                        <label for="start">Start date:</label>
                        <input type="date" id="start" name="trip-start"
                        value="2021-05-24"
                        min="2021-01-01" max="2021-12-31">
                        <div class="icono"></div>
                    </div>
            <div class="inboxduret">
                <div class="cajaduracion">
                <p>Duration: </p>
                <dd>
                    <a class="enlaceduracion" href="/s/inquiry">Set duration</a>
                </dd>
                </div>
                <div class="cajaduracion">
                    <p>Return: </p>
                    <dd>

                    </dd>
                </div>
            </div>
        </div>
            <h2>Alternative date</h2>
        <p>If you don’t have a estimated date, you need to enter an alternative date:</p>
        <div class="cajadefecha">
            <div class="marcfecha">
                <label for="start">Start date:</label>
                <input type="date" id="start" name="trip-start"
                value="2021-05-24"
                min="2021-01-01" max="2021-12-31">
                <div class="icono"></div>
            </div>
    <div class="inboxduret">
        <div class="cajaduracion">
        <p>Duration: </p>
        <dd>
            <a class="enlaceduracion" href="/s/inquiry">Set Duration</a>
        </dd>
        </div>
        <div class="cajaduracion">
            <p>Return: </p>
            <dd>

            </dd>
        </div>
    </div>
</div>



    </div>
    </div>
</main>

<div id="botones">
    <button type="submit">NEXT</button>
    </div>

<footer>
</footer
</body>
</html>