<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto seleccionado</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "/css/normalize.css">
    
    <script src="https://kit.fontawesome.com/8accbfc9de.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel = "stylesheet" href = "/css/foodPackage.css">
</head>
<body>
    <header>
    </header>
    <main>         
       
                    <form class="formularioFP" action="/checkout/summary" method="post">

                        <h1>Summary</h1>
                        <div class="summary"> <p>Nombre: Matias Giles</p> </div>
                        <div class="crew">
                            <h2>Crew</h2>
                            <article>
                                
                                <div>
                                    <h3>Adults:</h3>
                                    <p id="adults">2</p>
                                    <input type="hidden" value="2"> </input>
                                </div>
                                <div>
                                    <h3>Minors:</h3>
                                    <p id="minors">2</p>
                                <input type="hidden"> </div>
                                
                            </article>
                            
                        </div>
                        <div class="crew">
                            <h2>Date</h2>
                            <article>
                                
                                <div>
                                    <h3>Preferred Date:</h3>
                                    <p id="lsOutputDate">2</p>
                                    <input type="hidden" value="2"> </input>
                                </div>
                                <div>
                                    <h3>Alternative Date:</h3>
                                    <p id= "lsOutputAltDate">2</p>
                                <input type="hidden"> </div>  
                            </article>
                            
                        </div>
                        <div class="summary"><p id="food">Food Choice: </p> </div>
                        <div class="summary"><p id="experience">Selected Experence:</p> </div>
                       

                        <div id="boton">
                        <button type="submit">Enviar</button></div>
                    </form> 
           
            
             
    </main>
    <footer>
    </footer> 
    <script>

        const outputDate= document.getElementById("lsOutputDate")
        const date= localStorage.getItem("preferred_date")
        outputDate.innerHTML+=date

        const outputAltDate= document.getElementById("lsOutputAltDate")
        const altDate= localStorage.getItem("alternative_date")
        outputAltDate.innerHTML+=altDate

        const adults= document.getElementById("adults")
        const amountAdults= localStorage.getItem("adults")
        adults.innerHTML =amountAdults

        const minors= document.getElementById("minors")
        const amountChildren= localStorage.getItem("children")
        minors.innerHTML=amountChildren

        const food= document.getElementById("food")
        const foodChoice= localStorage.getItem("foodChoice")
        food.innerHTML+= "</br>"+foodChoice
       
        const experience= document.getElementById("experience")
        const selectedExperience= localStorage.getItem("selectedExperience")
        experience.innerHTML+= "</br>"+ selectedExperience
    </script>
</body>
</html>