<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto seleccionado</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel = "stylesheet" href = "/css/normalize.css">
    <link rel = "stylesheet" href = "/css/productCart.css">
    <script src="https://kit.fontawesome.com/8accbfc9de.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
   <header>

   </header>
    
<main>
    <div class="conteinerprincipal"> 
    <div class="cajaprincipal"> 
   
    <form action="/" method="get" class=form1>      
        <section>
        <h1>SUMMARY</h1>
        <article class=product>
        <div>
            <i class="fas fa-user"></i>
            <p class="user">Reservation</h3>
         </div>
         <div>
            <i class="fas fa-envelope-square"></i>
            <p class="e-mail">E-mail</p>
        </div>
        <div>
            <i class="far fa-calendar-check"></i>
            <p class="fecha">Reservation date</p>
        </div>
        <div>
            <i class="fas fa-dharmachakra"></i>
            <p class="fecha">Ship type</p>
        </div>
        <div>
            <i class="fas fa-map-marked-alt"></i>
             <p class="maps">Selected route</p>
        </div>
        <div>
            <i class="fas fa-users"></i>
             <p class="personas">How many people</p>
        </div>
        <div>
             <i class="fas fa-drumstick-bite"></i>
             <p class="buffet">Buffet on board: Yes /No</p>
        </div>
        <div>
            <i class="fas fa-glass-cheers"></i>
            <p class="catering">Catering: Yes/No </p>
       </div>
       <div>
        <i class="fas fa-swimmer"></i>
        <p class="buceo">Diving Service: Yes/No </p>
        </div>
    </section>
    <strong>
            </article>
    <div class="cajaop">
    <h3>PAYMENT OPTIONS</h3>
    <p>Accepted Payment Methods:</p>
    <ul class=tarjetas_contenedoras>
           <li class="tarjetas">
               <img src = "img/amex.jpg" alt = "Amex" width = "30px" height = "30px">
           </li>
           <li class="tarjetas">
               <img src = "img/visa.jpg" alt = "visa" width = "30px" height = "30px">
           </li>
           <li class="tarjetas">
               <img src = "img/mastercard.jpg" alt = "mastercard" width = "30px" height = "30px">
           </li>
    </ul>
    </div>
    </strong>
    </section>
    </div>
    <input class= "button1" type="submit" value= "BACK">
    <input class="button2" type="submit" value="NEXT">
    </div> 
    </div>    
    </main>
<footer>
</footer>
</body>
</html>