*{
    font-family: 'Poppins', sans-serif;
}
header {
	min-height: 20vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
		url(/img/home-main-picture.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	border-bottom: #ebebeb 2px solid;
	overflow: hidden;
}
body{
	background-color: #e2e8f0
}

nav {
	display: flex;
	padding: 15px 35px;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	flex-flow: row wrap;
}

nav img {
	width: 100px;
	margin-right: 10px;
}

nav .logo-name {
	display: flex;
	text-decoration: none;
	color: #fff;
	flex-flow: row wrap;
	justify-content: start;
	align-items: center;
}

.nav-links {
	flex: 1;
	text-align: right;
	overflow-x: hidden;
}

.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-links ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	font-weight: 500;
}

.nav-links ul li::after {
	content: '';
	width: 0%;
	height: 3px;
	background: rgb(9, 117, 136);
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav-links ul li:hover::after {
	width: 80%;
}

nav .fas {
	display: none;
}










/* Footer */

footer {
	border-top: 1px #ebebeb solid;
	width: 100%;
	text-align: center;
	padding: 30px 0px;
	margin-top: 50px;
}

footer h4 {
	margin-top: 20px;
	margin-bottom: 25px;
	font-size: 20px;
	font-weight: 300;
}

footer p {
	color: #777;
}

.icons a {
	text-decoration: none;
	color: rgb(9, 117, 136);
}

.icons {
	color: rgb(9, 117, 136);
	font-size: 20px;
	margin: 20px auto;
}
.fab {
	margin-left: 7px;
}


.indv-cont {
	display: block;
	min-height: 300px;
	max-height: 350px;
	max-width: 450px;
	-ms-flex-preferred-size: 22%;
		flex-basis: 22%;
	position: relative;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 3rem;
	-webkit-transition: 0.5s ease;
	transition: 0.5s ease;
	flex-flow: row;
  }

.indv-cont:hover {
	-webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
			box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
	-webkit-transform: scale(1.05);
			transform: scale(1.05);
  }

.indv-cont img {
	width: 100%;
	height: 100%;
	position: relative;
	-o-object-fit: cover;
	   object-fit: cover;
  }

.prod-info {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 2rem;
 	background: -webkit-gradient(linear, left top, left bottom, from(rgba(30, 20, 4, 0.2)), color-stop(rgba(30, 20, 4, 0.2)), color-stop(rgba(30, 20, 4, 0.2)), to(rgba(30, 20, 4, 0.2))); 
	background: linear-gradient(rgba(30, 20, 4, 0.2), rgba(30, 20, 4, 0.2), rgba(30, 20, 4, 0.2), rgba(30, 20, 4, 0.2)); 
	text-align: center;
	bottom: 0px;
	font-size: 20px;
	transition: background 2s ease-out;
  }

.indv-cont:hover .prod-info {
	background: linear-gradient(rgba(30, 20, 4, 0.4), rgba(30, 20, 4, 0.4), rgba(30, 20, 4, 0.4), rgba(30, 20, 4, 0.4));

}

.back-gray {
	background: linear-gradient(rgba(30, 20, 4, 0.4), rgba(30, 20, 4, 0.4), rgba(30, 20, 4, 0.4), rgba(30, 20, 4, 0.4));

}


/* MEDIA QUERIEES */



@media (max-width: 980px) {
	nav {
		flex-flow: row wrap;
	}
	.text-box h1 {
		font-size: 20px;
	}
	.nav-links ul li {
		display: block;
	}
	.nav-links ul {
		position: fixed;
		background: linear-gradient(#09779c, #097588);
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}
	nav .fas {
		display: block;
		color: #fff;
		margin: 12px;
		font-size: 18px;
		cursor: pointer;
	}
	.nav-links ul {
		padding: 30px;
	}
   
}

