<!DOCTYPE html>
<html lang="en">
	<head>

		<%- include('../partials/head')%> 

		<link rel="stylesheet" href="/css/account.css" />

	</head>

	<body>
		<header>
			<nav>
				<a href="/" class="logo-name">
					<img src="/img/logoBlanco.png" alt="" />
				</a>
				<div class="nav-links">
					<!-- Links de navegacion -->
					<ul id="navLinks">
						<i class="fas fa-times" onclick="hideMenu()"></i>
						<li><a href="/">HOME</a></li>
						<li><a href="/productDetail">PRODUCT DETAIL</a></li>
						<li><a href="#">ABOUT US</a></li>
						<li><a href="/login">LOGIN</a></li>
						<li><a href="/register">REGISTER</a></li>
						<li><a href="/cart">CHECKOUT</a></li>
					</ul>
				</div>
				<!-- Icono para abrir menu en mobile -->
				<i class="fas fa-bars" onclick="showMenu()"></i>
			</nav>

		<form action="/login" method="POST" class="create-form">
			<h1>Login</h1>

			<div class="form-field">
				<!-- <label for="username">Username</label> -->
				<input
					type="text"
					name="username"
					id="username"
					placeholder="Username"
					class="field"
          autocomplete="disabled"
					required
				/>
			</div>

			<div class="form-field">
				<!-- <label for="password">Password</label> -->
				<input
					type="password"
					name="pass"
					id="pass"
					placeholder="Password"
					class="field"
					required
				/>
			</div>

			<div class='accountcheck'>
        <input type="checkbox" name="remember" id="remember" />
				<label for='remember' class='remember'> Remember me</label>
			</div>

			<button type="submit" class="button">Login</button>

			<div class="link">
				<a href="#">Lost your Password?</a><br />
				<p>Don't have an account?<a href="/register"> Register</a></p>
				<a href="/">Return to home</a>
			</div>

		</header>

		<%- include ('../partials/footer')%>

      		<!-- Javascript para menu desplegable -->
		<script>
			var navLinks = document.getElementById("navLinks");
			function showMenu() {
				navLinks.style.right = 0;
			}
			function hideMenu() {
				navLinks.style.right = "-200px";
			}
		</script>
		</form>
	</body>
</html>
