<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')%>

    <link rel="stylesheet" href="/css/profile.css" />
</head>
<body>

    <header></header>
  <main>

    <div>
 <h1>Welcome Captain!</h1>

       <p> We are glad to have you on our crew, <%= %> </p></div>
  </main>
  <%- include ('../partials/footer')%>

        
   </div>

		<a href="/user/logout">Logout</a>
	</body>
</html>
